@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.signup-button{
  background-color: #00BBD4; /* Blue background */
  color: #fff; /* White text */
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
}

.signin{
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.button{
  font-size: 14px;
  border-radius: 25px;
}
